* {
    box-sizing: border-box;
}

h2 {
    color: #4aaaa5;
}
footer { 
    position: fixed; 
    left: 0 ; right: 0; bottom: 0; 
    height: 10%;
    border-top: 8px solid #4aaaa5;
    background-color: #777777;
    width: 100%; 
    text-align: center;
    padding-top: 9px;
}

header {
    position: fixed;
    z-index: 100;
    width: 960px;
    height: 80px;
    background-color: white;
    margin: 0 auto 0 auto;
    top: 7px;
    left: 0px;
    right: 0px;
    border-bottom: 4px solid #dddddd;
}

section {
    width: 100%;
    background-image: url(../images/diagonal-squares.png);
    opacity: .95;
    margin: 80px auto 44px auto;
    padding: 100%;
    position: fixed; 
    left: 0 ; right: 0; bottom: 0; 
    
}
.nameholder {
    background-color: #4aaaa5;
    width: 25%;
    text-align: center;
    color: white;
    padding: 0px;
    height: 76px;
    float: left;
}

.links {
    text-align: center;
    padding: 27px 0;
    width: 25%;
    height: 76px;
    background: white;
    float: right;
    
}

.content { 
    width: 960px;
    background: #eee;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    top:100px;
    text-align: left;
    font-size: 20px;    
    margin: 0 auto 0 auto;
    border: solid #dddddd 5px;
    
}
.contact { 
    width: 960px;
    background: #eee;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    top:100px;
    text-align: left;
    font-size: 20px;    
    margin: 0 auto 0 auto;
}
 
.portfolio { 

    background-color: white;
    width: 960px;
    background: #eee;
    position: relative;
    padding-top: 20px;
    padding-bottom: 50%;
    padding-left: 50px;
    padding-right: 50px;
    top:100px;
    bottom: 100px;
    font-size: 20px;    
    margin: 90px auto 90px auto;
}
#center {
    text-align: center;
}

#btn {
    background-color:  #4aaaa5;
    color: white;
}